@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.brand{
 font-family: smooch;
 font-weight: 500;
 font-size: 2em;
}

.nav{
    transition: background-color .2s ease-in-out;
  }